In [1]:
import pandas as pd
import regex as re
from collections import Counter
import emoji
from gensim.models.word2vec import Word2Vec
import nltk
from nltk import word_tokenize
from gensim.models import FastText
from gensim.models import KeyedVectors
#from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import numpy as np
#from tqdm import tqdm
from gensim.models.callbacks import CallbackAny2Vec
#import matplotlib.pyplot as plt
import keras
from keras.preprocessing.text import Tokenizer
from keras.utils.data_utils import pad_sequences
#from keras.initializers import Constant
from keras.layers import ReLU
from keras.layers import Dropout
from keras.models import Sequential
from keras.layers import Dense, Flatten, Embedding, Input, LSTM, Bidirectional, TimeDistributed, Conv1D, MaxPooling1D, GlobalMaxPooling1D
from keras.optimizers import Adam
from keras import Model
from keras.models import load_model
from keras.callbacks import EarlyStopping
from tensorflow.keras.utils import to_categorical
import math
nltk.download('punkt')

2023-05-01 12:30:44.634619: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-05-01 12:30:44.634655: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
[nltk_data] Downloading package punkt to /home/user/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [8]:
df1 = pd.read_pickle('dataset/hinglish_tweet_ids_part1.pkl')
print(df1.columns)
df1[['tweet_text']]

Index(['tweet_id', 'tweet_text', 'retweet_count', 'favorite_count',
       'user_name', 'user_id', 'user_description', 'user_verified',
       'user_followers_count', 'user_friends_count', 'user_listed_count',
       'user_favourites_count', 'user_statuses_count', 'user_created_at'],
      dtype='object')

                                              tweet_text
0      @ajuonline #sarcasm Haal chaal thik thak hai-s...
1               @I_Am_Hollywood - Charlie Haas? #sarcasm
2                       Chetan Bhagat #epicmale #sarcasm
3      @Bo_jasim86 LOOL 7atheer affaa 3allaik rgoobti...
4      @FENUSF tees2al 3anek el 3afiaa 7abeeb galbe ,...
...                                                  ...
88586  @Abhi_4_Nation @narendramodi @PrakashJavdekar ...
88587  Weh pehle-humari-pocket-se-SIRF-THODA-SA-nikal...
88588  @rssurjewala Waqt ayega ki kuch janwar sirf zo...
88589  @LawBharath @LEDtvn Bakhton ko pata nahi hoga ...
88590  Sirf khud se piyar karo, maze me raho ge I swear.

[88591 rows x 1 columns]

In [9]:
df2 = pd.read_pickle('dataset/hinglish_tweet_ids_part2.pkl')
print(df2.columns)
df2[['tweet_text']]

Index(['tweet_id', 'tweet_text', 'retweet_count', 'favorite_count',
       'user_name', 'user_id', 'user_description', 'user_verified',
       'user_followers_count', 'user_friends_count', 'user_listed_count',
       'user_favourites_count', 'user_statuses_count', 'user_created_at'],
      dtype='object')

                                               tweet_text
0       @ajuonline #sarcasm Haal chaal thik thak hai-s...
1                @I_Am_Hollywood - Charlie Haas? #sarcasm
2                        Chetan Bhagat #epicmale #sarcasm
3       @Bo_jasim86 LOOL 7atheer affaa 3allaik rgoobti...
4       @FENUSF tees2al 3anek el 3afiaa 7abeeb galbe ,...
...                                                   ...
105192  "Kaali kaali khaali raaton se Hone lagi hai do...
105193  Jao pehle usese jakar puchho jisne meri Jameen...
105194  Hai tu agar mera dilbar, Hai tu agar mera dilb...
105195  @iam_ashima nahi dekhna hai yaar mere KO khhon...
105196                  tere waaste mera ishq khatmalaana

[105197 rows x 1 columns]

In [10]:
df3 = pd.read_pickle('dataset/hinglish_tweet_ids_part3.pkl')
print(df3.columns)
df3[['tweet_text']]

Index(['tweet_id', 'tweet_text', 'retweet_count', 'favorite_count',
       'user_name', 'user_id', 'user_description', 'user_verified',
       'user_followers_count', 'user_friends_count', 'user_listed_count',
       'user_favourites_count', 'user_statuses_count', 'user_created_at'],
      dtype='object')

                                             tweet_text
0     @muneebfaruq oho... tention na lo.. paanch saa...
1     @temmujin Buss mujhay bher aik choutee moutee ...
2     Pakhtoon K Karname yaad krogey to tmko sharam ...
3     @sana_virk wohi na ! zindagi main ek dafa us n...
4     Paap kya punya kya tu bhula de, karma kar phal...
...                                                 ...
7445  @Javedakhtarjadu salaam alecum sir. aapki izaj...
7446  Khud Ko Khuda Samjane Wale, Tu Khuda Ka Khouf ...
7447  hoti nahi dosti kabhi chehre se, dosti to dil ...
7448  Jab Jab Dil Dhadkta Hain Tab Tab Tumhari Yaad ...
7449  Jis taraf hum nikal jaayenge / raaste khud ba ...

[7450 rows x 1 columns]

In [11]:
df_hinglish = pd.concat([df1, df2, df3], ignore_index=True)
print(df_hinglish.columns)
print('--------------------')
print(df_hinglish)

Index(['tweet_id', 'tweet_text', 'retweet_count', 'favorite_count',
       'user_name', 'user_id', 'user_description', 'user_verified',
       'user_followers_count', 'user_friends_count', 'user_listed_count',
       'user_favourites_count', 'user_statuses_count', 'user_created_at'],
      dtype='object')
--------------------
                 tweet_id                                         tweet_text  \
0              2327708778  @ajuonline #sarcasm Haal chaal thik thak hai-s...
1             15150580702           @I_Am_Hollywood - Charlie Haas? #sarcasm
2             12361902573                   Chetan Bhagat #epicmale #sarcasm
3       40057904656551936  @Bo_jasim86 LOOL 7atheer affaa 3allaik rgoobti...
4       39999071498407936  @FENUSF tees2al 3anek el 3afiaa 7abeeb galbe ,...
...                   ...                                                ...
201233  38780786895233024  @Javedakhtarjadu salaam alecum sir. aapki izaj...
201234  38773918928084992  Khud Ko Khuda Samjane Wale, Tu Khuda Ka Khouf ...
201235  38749874237214720  hoti nahi dosti kabhi chehre se, dosti to dil ...
201236  38743721671524352  Jab Jab Dil Dhadkta Hain Tab Tab Tumhari Yaad ...
201237  38705985702858752  Jis taraf hum nikal jaayenge / raaste khud ba ...

        retweet_count  favorite_count        user_name    user_id  \
0                   0               0            Fagun   14192319
1                   0               0           Johnny   41430949
2                   0               0                R   14297652
3                   0               0    Hamad Al Sane  226071379
4                   0               0    Hamad Al Sane  226071379
...               ...             ...              ...        ...
201233              0               0    vaibhav gupta  177672728
201234              0               0  Shair o Shayari  196104754
201235              0               0        ibiboisms   53337038
201236              0               0  Shair o Shayari  196104754
201237              0               0             خالد   17829306

                                         user_description  user_verified  \
0       Sr QA @ArcanaNetwork; if the engineering team ...          False
1                                                                  False
2                                                      ok          False
3                               Co-owner @TrilogyEventsCo          False
4                               Co-owner @TrilogyEventsCo          False
...                                                   ...            ...
201233                                                             False
201234  Follow to enjoy thousands of urdu and hindi sh...          False
201235                                                             False
201236  Follow to enjoy thousands of urdu and hindi sh...          False
201237  I feel what I feel| Worked as a writer |AMU al...          False

        user_followers_count  user_friends_count  user_listed_count  \
0                       1085                 492                 51
1                       1450                 716                 24
2                       2934                 237                 81
3                        311                 198                  1
4                        311                 198                  1
...                      ...                 ...                ...
201233                    22                  81                  0
201234                  1372                   0                 16
201235                   386                1606                  5
201236                  1372                   0                 16
201237                   826                   0                 13

        user_favourites_count  user_statuses_count           user_created_at
0                        1717                30731 2008-03-21 17:00:38+00:00
1                       21845                36214 2009-05-20 19:37:14+00:00
2                           9               133235 2008-04-03 23:07:46+00:00
3                           5                10023 2010-12-13 06:57:11+00:00
4                           5                10023 2010-12-13 06:57:11+00:00
...                       ...                  ...                       ...
201233                     22                   45 2010-08-12 19:34:53+00:00
201234                      0                51754 2010-09-28 10:27:39+00:00
201235                      0               178229 2009-07-03 08:50:15+00:00
201236                      0                51754 2010-09-28 10:27:39+00:00
201237                  27306                76157 2008-12-03 04:50:35+00:00

[201238 rows x 14 columns]

In [12]:
df_hinglish_slashed = df_hinglish[['tweet_text']].copy()
df_hinglish_slashed

                                               tweet_text
0       @ajuonline #sarcasm Haal chaal thik thak hai-s...
1                @I_Am_Hollywood - Charlie Haas? #sarcasm
2                        Chetan Bhagat #epicmale #sarcasm
3       @Bo_jasim86 LOOL 7atheer affaa 3allaik rgoobti...
4       @FENUSF tees2al 3anek el 3afiaa 7abeeb galbe ,...
...                                                   ...
201233  @Javedakhtarjadu salaam alecum sir. aapki izaj...
201234  Khud Ko Khuda Samjane Wale, Tu Khuda Ka Khouf ...
201235  hoti nahi dosti kabhi chehre se, dosti to dil ...
201236  Jab Jab Dil Dhadkta Hain Tab Tab Tumhari Yaad ...
201237  Jis taraf hum nikal jaayenge / raaste khud ba ...

[201238 rows x 1 columns]

In [13]:
#finds the duplicate rows in the unlabeled Hinglish data

duplicate_1 = df_hinglish_slashed[df_hinglish_slashed.duplicated(keep='first')]
print(len(duplicate_1))
print(duplicate_1)
#print(type(duplicate_1))

93640
                                               tweet_text
368     Chitti ai hai ai hai chitthi ai hai = I have m...
372     Chitti ai hai ai hai chitthi ai hai = I have m...
393                    Kim Kardashian is virgin. #sarcasm
394                    Kim Kardashian is virgin. #sarcasm
423                    Kim Kardashian is virgin. #sarcasm
...                                                   ...
200973  http://tinyurl.com/32k296l / LOVE QUOTES / Hic...
201054  namskar ek sher aapke kadmo me- "KHAR CHUBHE K...
201171  http://tinyurl.com/4z6sz59 / LOVE QUOTES / Ham...
201196  http://tinyurl.com/5vbq3rh / POETRY QUOTES / K...
201207  http://tinyurl.com/32k296l / LOVE QUOTES / Hic...

[93640 rows x 1 columns]

In [14]:
#removes duplicates

df_hinglish_slashed = df_hinglish_slashed.drop_duplicates(keep='first')
print(len(df_hinglish_slashed))

duplicate_2 = df_hinglish_slashed[df_hinglish_slashed.duplicated(keep='first')]
print(len(duplicate_2))
print(df_hinglish_slashed.columns)

107598
0
Index(['tweet_text'], dtype='object')

In [15]:
df_labeled = pd.read_pickle('dataset/data_soumyadeep.pkl')
df_labeled = df_labeled[['tweet_text', 'is_sarcastic']].copy()
print(len(df_labeled))
print(df_labeled.columns)

94788
Index(['tweet_text', 'is_sarcastic'], dtype='object')

In [16]:
#finds the duplicate rows in the labeled data

duplicate_3 = df_labeled[df_labeled.duplicated(subset=['tweet_text'], keep='first')]
print(len(duplicate_3))
print(duplicate_3)

2895
                                              tweet_text  is_sarcastic
354    RT Apna vyauhar hoga aise jal mein kamal rehat...             0
630    @fittaymunhapka n osky baad amMi ny kha k kuch...             0
686    RT Teen behan ke baad jo aata putra woh trekha...             0
809    Ek aadmi pareshan ho kar Ae bhagwan aisi zinda...             1
844    RT Teen behan ke baad jo aata putra woh trekha...             0
...                                                  ...           ...
94716  RT Teen behan ke baad jo aata putra woh trekha...             0
94721  Roz badh'taa huun jahaa'n se aage // Phir wahi...             0
94747  RT Chhoota vaibhav schooli shiksha shooro ho g...             0
94756                                kya hoga is desh ka             0
94763  @rjauhari lol  unka bhi mast hoga..koi recessi...             0

[2895 rows x 2 columns]

In [17]:
#removes duplicates from labeled data

df_labeled = df_labeled.drop_duplicates(subset=['tweet_text'], keep='first')
print(len(df_labeled))

duplicate_4 = df_labeled[df_labeled.duplicated(keep='first')]
print(len(duplicate_4))
print(df_labeled.columns)

91893
0
Index(['tweet_text', 'is_sarcastic'], dtype='object')

In [18]:
#finds the common rows between unlabeled Hinglish embedding data and labeled data

common_rows = pd.merge(df_hinglish_slashed, df_labeled, how = 'inner', on=['tweet_text'])
print(common_rows)
len(common_rows)
#print(type(common_rows))

                                              tweet_text  is_sarcastic
0      @ajuonline #sarcasm Haal chaal thik thak hai-s...             1
1               @I_Am_Hollywood - Charlie Haas? #sarcasm             1
2                       Chetan Bhagat #epicmale #sarcasm             1
3      @Bo_jasim86 LOOL 7atheer affaa 3allaik rgoobti...             1
4      @FENUSF tees2al 3anek el 3afiaa 7abeeb galbe ,...             1
...                                                  ...           ...
26378  Hurt kerny wala khud bhi hurt ho raha hota hy ...             0
26379  Zindgi me aage badhna hai to 2 baaten yaad rak...             0
26380  @eDeepika  Bus Itna Hi CHahna Mere Baad Merii ...             0
26381  18FEB:Jaruri Nahi Aap Her Galti Khud Ker Ke Si...             0
26382  18FEB:Jaruri Nahi Aap Her Galti Khud Ker Ke Si...             0

[26383 rows x 2 columns]

26383

In [19]:
#removes all the common rows from unlabeled data

common = df_hinglish_slashed['tweet_text'].isin(df_labeled['tweet_text'])
df_hinglish_slashed.drop(df_hinglish_slashed[common].index, inplace=True)
print(len(df_hinglish_slashed))
print(df_hinglish_slashed.columns)

common_rows2 = pd.merge(df_hinglish_slashed, df_labeled, how = 'inner', on=['tweet_text'])
#print(common_rows2)
print(len(common_rows2))

81215
Index(['tweet_text'], dtype='object')
0

/tmp/ipykernel_7299/3615633645.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hinglish_slashed.drop(df_hinglish_slashed[common].index, inplace=True)

In [20]:
#removes all rows from the Dataframe containing Devanagari script (any non-English word) 

df_hinglish_slashed = df_hinglish_slashed[df_hinglish_slashed['tweet_text'].map(lambda x: x.isascii())]
#filtered_data.iloc[0:5, 1:4]
df_hinglish_slashed.iloc[4, 0]

'3ajeeb make up hayoona #sarcasm'

In [21]:
#removes mentions, '#', emojis, punctuations, special chars, URLs, words containing numbers, spaces from beginning and end of tweets

def data_preprocessing(source):
    
    source = source.str.lower() #lower case chars
    source = source.str.replace("\w*\d\w*","") #removes all words containing numbers
    #source = source.str.replace("#", "")
    #source = source.str.replace("@", "")
    #source = source.str.replace("@[A-Za-z0-9_]+","")
    source = source.str.replace("[@A-Za-z0-9_]*@[@A-Za-z0-9_]*","")
    #source = source.str.replace("#[A-Za-z0-9_]+","")
    source = source.str.replace("[#A-Za-z0-9_]*#[#A-Za-z0-9_]*","")
    source = source.str.replace("\s+|[!$%&()*+, -./:;<=>?\^_`{|}~]\s*"," ")
    source = source.str.replace("http\S+","")
    
    return source

df_hinglish_slashed['tweet_text'] = data_preprocessing(df_hinglish_slashed ['tweet_text'])
df_hinglish_slashed['tweet_text'] = df_hinglish_slashed['tweet_text'].apply(lambda s: emoji.replace_emoji(s,""))
df_hinglish_slashed['tweet_text'] = df_hinglish_slashed['tweet_text'].str.strip()
df_hinglish_slashed[['tweet_text']].head(5)

/tmp/ipykernel_7299/3460830347.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  source = source.str.replace("\w*\d\w*","") #removes all words containing numbers
/tmp/ipykernel_7299/3460830347.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  source = source.str.replace("[@A-Za-z0-9_]*@[@A-Za-z0-9_]*","")
/tmp/ipykernel_7299/3460830347.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  source = source.str.replace("[#A-Za-z0-9_]*#[#A-Za-z0-9_]*","")
/tmp/ipykernel_7299/3460830347.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  source = source.str.replace("\s+|[!$%&()*+, -./:;<=>?\^_`{|}~]\s*"," ")
/tmp/ipykernel_7299/3460830347.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  source = source.str.replace("http\S+","")

                                            tweet_text
167                                      dary emratiba
194  yograj singh  dhoni advised dd management to r...
200  seedhe log hai ma beta ab  crore ka ghotala ho...
309  ab ham khade ho gaye hain   ab ham aur bhi dar...
470                                    make up hayoona

In [22]:
df_hinglish_slashed.iloc[4, 0]

'make up hayoona'

In [23]:
#finds the unique words in the unlabeled data

unique_words = set()
df_hinglish_slashed['tweet_text'].str.lower().str.split().apply(unique_words.update)
unique_words = list(unique_words)
#print(unique_words)
#print('---------------')
print(len(unique_words))

78776

In [24]:
#generates tokenized data for the preprocessed data

#nltk.download('punkt')
df_hinglish_slashed['tweet_text'] = df_hinglish_slashed['tweet_text'].apply(nltk.word_tokenize)
print(df_hinglish_slashed.head(10))
print(len(df_hinglish_slashed))

                                             tweet_text
167                                    [dary, emratiba]
194   [yograj, singh, dhoni, advised, dd, management...
200   [seedhe, log, hai, ma, beta, ab, crore, ka, gh...
309   [ab, ham, khade, ho, gaye, hain, ab, ham, aur,...
470                                 [make, up, hayoona]
571   [cut, marna, koi, umar, se, seekhay, nahi, see...
901   [u, r, aapne, chaata, nahi, ki, tarah, pehle, ...
1073         [bhai, tu, ek, vaio, mini, laptop, le, le]
1273  [aanaayi, janichirunengil, kashtapettu, cash, ...
1377  [mere, bulane, se, koi, aata, hi, nhi, sab, bo...
73911

In [25]:
#removes all the rows with empty lists

df_hinglish_slashed=df_hinglish_slashed[df_hinglish_slashed['tweet_text'].map(lambda d: len(d)) > 0]
print(df_hinglish_slashed.head(10))
print(len(df_hinglish_slashed))

                                             tweet_text
167                                    [dary, emratiba]
194   [yograj, singh, dhoni, advised, dd, management...
200   [seedhe, log, hai, ma, beta, ab, crore, ka, gh...
309   [ab, ham, khade, ho, gaye, hain, ab, ham, aur,...
470                                 [make, up, hayoona]
571   [cut, marna, koi, umar, se, seekhay, nahi, see...
901   [u, r, aapne, chaata, nahi, ki, tarah, pehle, ...
1073         [bhai, tu, ek, vaio, mini, laptop, le, le]
1273  [aanaayi, janichirunengil, kashtapettu, cash, ...
1377  [mere, bulane, se, koi, aata, hi, nhi, sab, bo...
73910

In [27]:
#model = Word2Vec(df_hing_eng['tweet_text'], vector_size=300, window=10, hs=0, negative = 1)
model = FastText(df_hinglish_slashed['tweet_text'], vector_size=300, window=10, hs=0, negative = 1)
embedding_size = model.wv.vectors.shape[1]
print("embedding size--->", embedding_size)
vocab = model.wv.index_to_key

embedding size---> 300

In [28]:
#saves the FastText model

model.save("hing_fasttext.model")
print("Model saved!!!")

Model saved!!!

In [29]:
embeddings_index = FastText.load("hing_fasttext.model")
print(embeddings_index)

FastText(vocab=15582, vector_size=300, alpha=0.025)

In [30]:
print(df_labeled.head())
print(len(df_labeled))

                                          tweet_text  is_sarcastic
0  LOL !  BC badaa gaandu hai to ! so jaa lodu ! ...             1
1  @OFFICIAL_FC_PAK apni sakh khud sambhalen aur ...             0
2  Ek aadmi pareshan ho kar Ae bhagwan aisi zinda...             1
3  Lol RT @ThePrachi: @shrikhande Who can sing a ...             1
4  @idrinkblueblood tu ol's kar rahi ho kya? Kya ...             0
91893

In [31]:
#removes mentions, '#', emojis, punctuations, special chars, URLs, words containing numbers, spaces from beginning and end of tweets

def data_preprocessing(source):
    
    source = source.str.lower() #lower case chars
    source = source.str.replace("\w*\d\w*","") #removes all words containing numbers
    #source = source.str.replace("#", "")
    #source = source.str.replace("@", "")
    #source = source.str.replace("@[A-Za-z0-9_]+","")
    source = source.str.replace("[@A-Za-z0-9_]*@[@A-Za-z0-9_]*","")
    #source = source.str.replace("#[A-Za-z0-9_]+","")
    source = source.str.replace("[#A-Za-z0-9_]*#[#A-Za-z0-9_]*","")
    source = source.str.replace("\s+|[!$%&()*+, -./:;<=>?\^_`{|}~]\s*"," ")
    source = source.str.replace("http\S+","")
    
    return source

df_labeled['tweet_text'] = data_preprocessing(df_labeled['tweet_text'])
df_labeled['tweet_text'] = df_labeled['tweet_text'].apply(lambda s: emoji.replace_emoji(s,""))
df_labeled['tweet_text'] = df_labeled['tweet_text'].str.strip()
df_labeled[['tweet_text']].head()

/tmp/ipykernel_7299/3018622983.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  source = source.str.replace("\w*\d\w*","") #removes all words containing numbers
/tmp/ipykernel_7299/3018622983.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  source = source.str.replace("[@A-Za-z0-9_]*@[@A-Za-z0-9_]*","")
/tmp/ipykernel_7299/3018622983.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  source = source.str.replace("[#A-Za-z0-9_]*#[#A-Za-z0-9_]*","")
/tmp/ipykernel_7299/3018622983.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  source = source.str.replace("\s+|[!$%&()*+, -./:;<=>?\^_`{|}~]\s*"," ")
/tmp/ipykernel_7299/3018622983.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  source = source.str.replace("http\S+","")

                                          tweet_text
0  lol  bc badaa gaandu hai to  so jaa lodu  tere...
1  apni sakh khud sambhalen aur kisi ka saath na ...
2  ek aadmi pareshan ho kar ae bhagwan aisi zinda...
3  lol rt  who can sing a group song alone raavan...
4  tu ol s kar rahi ho kya kya hoga tere kaam sir...

In [32]:
df_labeled.head()

                                          tweet_text  is_sarcastic
0  lol  bc badaa gaandu hai to  so jaa lodu  tere...             1
1  apni sakh khud sambhalen aur kisi ka saath na ...             0
2  ek aadmi pareshan ho kar ae bhagwan aisi zinda...             1
3  lol rt  who can sing a group song alone raavan...             1
4  tu ol s kar rahi ho kya kya hoga tere kaam sir...             0

In [33]:
#finds the unique words in the labeled data

unique_words = set()
df_labeled['tweet_text'].str.lower().str.split().apply(unique_words.update)
unique_words = list(unique_words)
#print(unique_words)
#print('---------------')
print(len(unique_words))

93958

In [34]:
#generates tokenized data 

#nltk.download('punkt')
df_labeled['tweet_text'] = df_labeled['tweet_text'].apply(nltk.word_tokenize)
df_labeled.head()

                                          tweet_text  is_sarcastic
0  [lol, bc, badaa, gaandu, hai, to, so, jaa, lod...             1
1  [apni, sakh, khud, sambhalen, aur, kisi, ka, s...             0
2  [ek, aadmi, pareshan, ho, kar, ae, bhagwan, ai...             1
3  [lol, rt, who, can, sing, a, group, song, alon...             1
4  [tu, ol, s, kar, rahi, ho, kya, kya, hoga, ter...             0

In [35]:
#removes all the rows with empty lists

print(len(df_labeled))
df_labeled = df_labeled[df_labeled['tweet_text'].map(lambda d: len(d)) > 0]
print(df_labeled.head(10))
print(len(df_labeled))

91893
                                          tweet_text  is_sarcastic
0  [lol, bc, badaa, gaandu, hai, to, so, jaa, lod...             1
1  [apni, sakh, khud, sambhalen, aur, kisi, ka, s...             0
2  [ek, aadmi, pareshan, ho, kar, ae, bhagwan, ai...             1
3  [lol, rt, who, can, sing, a, group, song, alon...             1
4  [tu, ol, s, kar, rahi, ho, kya, kya, hoga, ter...             0
5      [yaar, ye, log, tu, serious, ho, gaye, t, co]             0
6  [abey, tumhare, paas, kaam, nahi, hai, jo, twi...             0
7  [ani, tauko, dukhyo, vanera, jaane, ta, ho, ni...             0
8  [rt, agar, tumne, rt, nahi, kiya, to, mujhse, ...             0
9  [dil, ki, dhadkan, sooni, sooni, saansain, bhi...             0
91892

In [36]:
df_labeled.head()

                                          tweet_text  is_sarcastic
0  [lol, bc, badaa, gaandu, hai, to, so, jaa, lod...             1
1  [apni, sakh, khud, sambhalen, aur, kisi, ka, s...             0
2  [ek, aadmi, pareshan, ho, kar, ae, bhagwan, ai...             1
3  [lol, rt, who, can, sing, a, group, song, alon...             1
4  [tu, ol, s, kar, rahi, ho, kya, kya, hoga, ter...             0

In [38]:
df_hinglish_slashed.head()

                                            tweet_text
167                                   [dary, emratiba]
194  [yograj, singh, dhoni, advised, dd, management...
200  [seedhe, log, hai, ma, beta, ab, crore, ka, gh...
309  [ab, ham, khade, ho, gaye, hain, ab, ham, aur,...
470                                [make, up, hayoona]

In [39]:
#train test split of labeled data

check_nan = df_labeled['is_sarcastic'].isnull().values.any()
print(check_nan)
check_na = df_labeled['is_sarcastic'].isna().values.any()
print(check_na)
check_nan_ = df_labeled['tweet_text'].isnull().values.any()
print(check_nan_)
check_na_ = df_labeled['tweet_text'].isna().values.any()
print(check_na_)

x_train,x_test,y_train,y_test=train_test_split(df_labeled['tweet_text'], df_labeled['is_sarcastic'], test_size=0.30, random_state=42)
#x_train,x_test,y_train,y_test=train_test_split(padded_tweets, sarcasm_labels, test_size=0.20, random_state=42)
print("x_train_shape--->", x_train.shape)
print("y_train_shape--->", y_train.shape)
print("x_test_shape--->", x_test.shape)
print("y_test_shape--->", y_test.shape)
print(type(x_train))
print("contents of first label--->", y_train[0])

False
False
False
False
x_train_shape---> (64324,)
y_train_shape---> (64324,)
x_test_shape---> (27568,)
y_test_shape---> (27568,)
<class 'pandas.core.series.Series'>
contents of first label---> 1

In [40]:
print(x_train)

39384    [kisi, siyaasat, daan, ki, taraah, tumhen, haa...
70407    [agar, bharat, ko, hai, mahaan, banna, toh, bh...
12711    [atal, bihari, vajpayee, and, nawaz, sharif, s...
20467    [bara, shok, tha, unhain, mera, ayeshana, daik...
15898    [wo, aap, ne, sunna, hee, hoga, goray, kaam, k...
                               ...
6316     [oye, yaar, tera, dimag, kharab, hai, kya, abh...
56186    [mulke, halate, jung, mein, hai, mujhe, koi, s...
79025    [mastar, bandya, mashi, aani, daasa, madhe, ka...
865      [ek, kunwari, larki, pehli, baar, ek, larke, s...
16017    [always, joking, jo, chij, kbhi, sudhar, nhi, ...
Name: tweet_text, Length: 64324, dtype: object

In [41]:
print(y_train.value_counts())
print('--------------------------')
print(y_test.value_counts())

0    32482
1    31842
Name: is_sarcastic, dtype: int64
--------------------------
0    13962
1    13606
Name: is_sarcastic, dtype: int64

In [42]:
length = []
for row in x_train:
    #print(row)
    #print(len(row))
    #count = count+1
    #if len(row)>maxi:
    #print(len(row))
    length.append(len(row))
        
#print(length)
print("Max length--->", max(length))
print("Mean length--->", np.mean(length))
print("Standard Deviation of length--->", np.std(length))

#maxi = max(length)
maxi = np.round(np.mean(length) + np.std(length)).astype(int)
print("Maximum length of the sequence--->", maxi)

Max length---> 84
Mean length---> 16.626049375038864
Standard Deviation of length---> 9.42481679865071
Maximum length of the sequence---> 26

In [43]:
total_docs=[]
total_docs.extend(x_train)
total_docs.extend(x_test)
print(total_docs[0:5])

[['kisi', 'siyaasat', 'daan', 'ki', 'taraah', 'tumhen', 'haasil', 'karne', 'k', 'liye', 'roz', 'naye', 'jalse', 'karta', 'hoon', 'apne', 'dil', 'men'], ['agar', 'bharat', 'ko', 'hai', 'mahaan', 'banna', 'toh', 'bhrasht', 'netaao', 'ko', 'hoga', 'hatna', 'aur', 'bhrashtachaar', 'ko', 'hoga', 'mitaana', 'yeh', 'kisi', 'ek', 'seh', 'na', 'hoga', 'pureh', 'jansamuday', 'ko', 'hoga', 'saath', 'nibhaana', 'happy', 'independence', 'day'], ['atal', 'bihari', 'vajpayee', 'and', 'nawaz', 'sharif', 'share', 'the', 'same', 'date', 'of', 'birth'], ['bara', 'shok', 'tha', 'unhain', 'mera', 'ayeshana', 'daiknay', 'ka', 'naddan', 'jab', 'daiki', 'meri', 'garabi', 'tu', 'rasta', 'badal', 'liya'], ['wo', 'aap', 'ne', 'sunna', 'hee', 'hoga', 'goray', 'kaam', 'ko', 'dimaag', 'mei', 'rakhtay', 'hain', 'aur', 'hehe', 'magar', 'pakistani', 'uss', 'ko', 'dimag', 'mei', 'aur', 'kaam', 'ko']]

In [44]:
print("tokenizing input data...")
MAX_NB_WORDS = 200000
tokenizer = Tokenizer(num_words=MAX_NB_WORDS, lower=True, char_level=False)
tokenizer.fit_on_texts(total_docs)
#tokenizer.fit_on_texts(x_train)
word_seq_train = tokenizer.texts_to_sequences(x_train)
word_seq_test = tokenizer.texts_to_sequences(x_test)
word_index = tokenizer.word_index

tokenizing input data...

In [45]:
print(len(word_seq_train))
print(word_seq_train[0])
print(len(word_seq_test))
print(word_seq_test[0])
print("dictionary size: ", len(word_index))

64324
[58, 17091, 5027, 2, 25830, 1972, 4437, 122, 11, 42, 391, 1217, 9317, 149, 163, 87, 13, 380]
27568
[695, 4, 113, 623, 14, 172, 16, 76773, 5277, 7, 113, 623]
dictionary size:  93854

In [46]:
#pads to the length of the longest sequence

word_seq_train = pad_sequences(word_seq_train, maxlen=maxi, padding='post')
word_seq_test = pad_sequences(word_seq_test, maxlen=maxi, padding='post')
print(word_seq_train[0])
print(word_seq_train.shape)
print(word_seq_test.shape)

[   58 17091  5027     2 25830  1972  4437   122    11    42   391  1217
  9317   149   163    87    13   380     0     0     0     0     0     0
     0     0]
(64324, 26)
(27568, 26)

In [47]:
#builds the embedding matrix

print('preparing embedding matrix...')
embed_dim = embedding_size
words_not_found = []
nb_words = min(MAX_NB_WORDS, len(word_index))
embedding_matrix = np.random.rand(nb_words+1, embed_dim)

for word, i in word_index.items():
    if i >= nb_words:
        continue
    #print(word)

    if embeddings_index.wv.__contains__(word): 

        embedding_vector = embeddings_index.wv[word]
    
        embedding_matrix[i] = embedding_vector
    else:
        words_not_found.append(word)
#print(embedding_matrix)
print('number of null word embeddings: %d' % np.sum(np.sum(embedding_matrix, axis=1) == 0))
print(embedding_matrix.shape)
print(len(embedding_matrix[34]))

preparing embedding matrix...
number of null word embeddings: 0
(93855, 300)
300

In [48]:
print(words_not_found)

[]

In [49]:
#define callbacks
early_stopping = EarlyStopping(monitor='val_loss', min_delta=0.01, patience=4, verbose=1)
callbacks_list = [early_stopping]

In [50]:
#Attention BiLSTM

from keras import backend as K
#from keras.engine.topology import Layer
from tensorflow.keras.layers import Layer
from keras import initializers, regularizers, constraints


class Attention(Layer):
    def __init__(self, step_dim,
                 W_regularizer=None, b_regularizer=None,
                 W_constraint=None, b_constraint=None,
                 bias=True, **kwargs):
        self.supports_masking = True
        self.init = initializers.get('glorot_uniform')

        self.W_regularizer = regularizers.get(W_regularizer)
        self.b_regularizer = regularizers.get(b_regularizer)

        self.W_constraint = constraints.get(W_constraint)
        self.b_constraint = constraints.get(b_constraint)

        self.bias = bias
        self.step_dim = step_dim
        self.features_dim = 0
        super(Attention, self).__init__(**kwargs)

    def build(self, input_shape):
        assert len(input_shape) == 3

        self.W = self.add_weight( shape=(input_shape[-1],),
                                 initializer=self.init,
                                 name='{}_W'.format(self.name),
                                 regularizer=self.W_regularizer,
                                 constraint=self.W_constraint)
        self.features_dim = input_shape[-1]
        #print(self.name)
        if self.bias:
            self.b = self.add_weight(shape=(input_shape[1],),
                                     initializer='zero',
                                     name='{}_b'.format(self.name),
                                     regularizer=self.b_regularizer,
                                     constraint=self.b_constraint)
        else:
            self.b = None

        self.built = True

    def compute_mask(self, input, input_mask=None):
        return None

    def call(self, x, mask=None):
        features_dim = self.features_dim
        step_dim = self.step_dim

        eij = K.reshape(K.dot(K.reshape(x, (-1, features_dim)),
                        K.reshape(self.W, (features_dim, 1))), (-1, step_dim))

        if self.bias:
            eij += self.b

        eij = K.tanh(eij)

        a = K.exp(eij)

        if mask is not None:
            a *= K.cast(mask, K.floatx())

        a /= K.cast(K.sum(a, axis=1, keepdims=True) + K.epsilon(), K.floatx())

        a = K.expand_dims(a)
        weighted_input = x * a
        return K.sum(weighted_input, axis=1)

    def compute_output_shape(self, input_shape):
        return input_shape[0],  self.features_dim

In [51]:
lstm_out1 = 150
#bilstm_out1 = 96
#lstm_out2 = 32
#dropout = 0.2
#recurrent_dropout = 0.2

inp = Input(shape=(maxi, ))
x = Embedding(nb_words+1, embed_dim, weights=[embedding_matrix], trainable=False)(inp)
x = Bidirectional(LSTM(lstm_out1, return_sequences=True, dropout=0.20, recurrent_dropout=0.20))(x)
x = Attention(maxi)(x)
x = Dense(256, activation="relu")(x)
#x = Dropout(0.25)(x)
x = Dense(1, activation="sigmoid")(x)
model = Model(inputs=inp, outputs=x)

adam = Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=1e-08, decay=0.0)
model.compile(loss='binary_crossentropy',optimizer='adam', metrics=['accuracy'])
model.summary()

2023-05-01 13:00:42.729658: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2023-05-01 13:00:42.759112: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2023-05-01 13:00:42.861833: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (user-PC): /proc/driver/nvidia/version does not exist
2023-05-01 13:00:43.155370: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-01 13:00:46.635238: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 112626000 exceeds 10% of free system memory.
2023-05-01 13:00:48.712207: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 112626000 exceeds 10% of free system memory.
2023-05-01 13:00:49.593863: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 112626000 exceeds 10% of free system memory.
2023-05-01 13:00:51.279792: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 112626000 exceeds 10% of free system memory.

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 26)]              0

 embedding (Embedding)       (None, 26, 300)           28156500

 bidirectional (Bidirectiona  (None, 26, 300)          541200
 l)

 attention (Attention)       (None, 300)               326

 dense (Dense)               (None, 256)               77056

 dense_1 (Dense)             (None, 1)                 257

=================================================================
Total params: 28,775,339
Trainable params: 618,839
Non-trainable params: 28,156,500
_________________________________________________________________

/home/user/anaconda3/lib/python3.9/site-packages/keras/optimizers/optimizer_v2/adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [52]:
#trains attention BiLSTM model 

model.fit(word_seq_train, y_train, batch_size=64, epochs=20, validation_split=0.1, shuffle=True, callbacks = callbacks_list)
#model.save('att_bilstm.h5')

Epoch 1/20
905/905 [==============================] - 289s 301ms/step - loss: 0.3935 - accuracy: 0.8271 - val_loss: 0.2794 - val_accuracy: 0.9027
Epoch 2/20
905/905 [==============================] - 292s 323ms/step - loss: 0.2307 - accuracy: 0.9221 - val_loss: 0.2042 - val_accuracy: 0.9411
Epoch 3/20
905/905 [==============================] - 268s 296ms/step - loss: 0.1774 - accuracy: 0.9473 - val_loss: 0.1723 - val_accuracy: 0.9503
Epoch 4/20
905/905 [==============================] - 323s 357ms/step - loss: 0.1624 - accuracy: 0.9511 - val_loss: 0.1729 - val_accuracy: 0.9495
Epoch 5/20
905/905 [==============================] - 371s 410ms/step - loss: 0.1544 - accuracy: 0.9531 - val_loss: 0.1664 - val_accuracy: 0.9513
Epoch 6/20
905/905 [==============================] - 377s 417ms/step - loss: 0.1479 - accuracy: 0.9539 - val_loss: 0.1753 - val_accuracy: 0.9518
Epoch 7/20
905/905 [==============================] - 316s 349ms/step - loss: 0.1397 - accuracy: 0.9560 - val_loss: 0.1687 - val_accuracy: 0.9517
Epoch 7: early stopping

In [53]:
#model = load_model('att_bilstm.h5')
y_pred_proba = model.predict(word_seq_test)
#print(y_pred_proba)
#print('---------------')

y_pred_class = np.round(y_pred_proba)
y_pred_class = y_pred_class.squeeze() #makes y_pred_class 1 dim
'''print(y_pred_class)
print(type(y_pred_class))
print(len(y_pred_class))
print(len(y_test))
print('---------------')'''

acc = accuracy_score(y_test, y_pred_class) * 100
print("Accuracy is--->", acc)

862/862 [==============================] - 54s 62ms/step
Accuracy is---> 95.08125362739408

In [55]:
#this one--->LSTM

lstm_out1 = 150
'''bilstm_out1 = 96
lstm_out2 = 32
dropout = 0.2
recurrent_dropout = 0.2'''

model = Sequential()
model.add(Embedding(nb_words+1, embed_dim, weights=[embedding_matrix], input_length=maxi, trainable=False))
model.add(LSTM(lstm_out1, dropout=0.2, recurrent_dropout=0.2))

model.add(Dense(64, activation='relu'))

model.add(Dense(1, activation='sigmoid'))

adam = Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=1e-08, decay=0.0)

model.compile(loss='binary_crossentropy',
                  optimizer=adam,
                  metrics=['accuracy'])

model.summary()

2023-05-01 13:40:50.707322: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 112626000 exceeds 10% of free system memory.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 26, 300)           28156500

 lstm_1 (LSTM)               (None, 150)               270600

 dense_2 (Dense)             (None, 64)                9664

 dense_3 (Dense)             (None, 1)                 65

=================================================================
Total params: 28,436,829
Trainable params: 280,329
Non-trainable params: 28,156,500
_________________________________________________________________

/home/user/anaconda3/lib/python3.9/site-packages/keras/optimizers/optimizer_v2/adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [56]:
#trains the LSTM model

model.fit(word_seq_train, y_train, batch_size=64, epochs=20, validation_split=0.1, shuffle=True, callbacks = callbacks_list)
model.save('lstm.h5')

Epoch 1/20
905/905 [==============================] - 143s 153ms/step - loss: 0.5032 - accuracy: 0.7462 - val_loss: 0.3462 - val_accuracy: 0.8693
Epoch 2/20
905/905 [==============================] - 137s 151ms/step - loss: 0.3110 - accuracy: 0.8875 - val_loss: 0.2773 - val_accuracy: 0.9032
Epoch 3/20
905/905 [==============================] - 137s 152ms/step - loss: 0.2700 - accuracy: 0.9036 - val_loss: 0.2598 - val_accuracy: 0.9084
Epoch 4/20
905/905 [==============================] - 138s 152ms/step - loss: 0.2475 - accuracy: 0.9122 - val_loss: 0.2335 - val_accuracy: 0.9199
Epoch 5/20
905/905 [==============================] - 139s 154ms/step - loss: 0.2155 - accuracy: 0.9286 - val_loss: 0.2258 - val_accuracy: 0.9305
Epoch 6/20
905/905 [==============================] - 132s 146ms/step - loss: 0.1866 - accuracy: 0.9419 - val_loss: 0.1857 - val_accuracy: 0.9448
Epoch 7/20
905/905 [==============================] - 132s 146ms/step - loss: 0.1710 - accuracy: 0.9481 - val_loss: 0.1771 - val_accuracy: 0.9498
Epoch 8/20
905/905 [==============================] - 149s 164ms/step - loss: 0.1622 - accuracy: 0.9503 - val_loss: 0.1734 - val_accuracy: 0.9484
Epoch 9/20
905/905 [==============================] - 148s 163ms/step - loss: 0.1557 - accuracy: 0.9525 - val_loss: 0.1728 - val_accuracy: 0.9479
Epoch 10/20
905/905 [==============================] - 152s 168ms/step - loss: 0.1478 - accuracy: 0.9538 - val_loss: 0.1750 - val_accuracy: 0.9507
Epoch 11/20
905/905 [==============================] - 152s 168ms/step - loss: 0.1430 - accuracy: 0.9548 - val_loss: 0.1736 - val_accuracy: 0.9503
Epoch 12/20
905/905 [==============================] - 156s 172ms/step - loss: 0.1363 - accuracy: 0.9564 - val_loss: 0.1732 - val_accuracy: 0.9503
Epoch 12: early stopping

In [57]:
#model = load_model('att_bilstm.h5')
y_pred_proba = model.predict(word_seq_test)
#print(y_pred_proba)
#print('---------------')

y_pred_class = np.round(y_pred_proba)
y_pred_class = y_pred_class.squeeze() #makes y_pred_class 1 dim
'''print(y_pred_class)
print(type(y_pred_class))
print(len(y_pred_class))
print(len(y_test))
print('---------------')'''

acc = accuracy_score(y_test, y_pred_class) * 100
print("Accuracy is--->", acc)

862/862 [==============================] - 26s 29ms/step
Accuracy is---> 94.80919907138711

In [58]:
# BiLSTM

lstm_out1 = 150
bilstm_out1 = 96
lstm_out2 = 32
dropout = 0.2
recurrent_dropout = 0.2

# main model
inputt = Input(shape=(maxi,))
model = Embedding(nb_words+1, embed_dim, weights=[embedding_matrix],input_length=maxi,trainable = False)(inputt)
model =  Bidirectional (LSTM (lstm_out1, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode='concat')(model)
model = TimeDistributed(Dense(10,activation='relu'))(model)
model = Flatten()(model)
model = Dense(64,activation='relu')(model)
output = Dense(1,activation='sigmoid')(model)
model = Model(inputt,output)
adam = Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=1e-08, decay=0.0)
model.compile(loss='binary_crossentropy',optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 26)]              0

 embedding_2 (Embedding)     (None, 26, 300)           28156500

 bidirectional_1 (Bidirectio  (None, 26, 300)          541200
 nal)

 time_distributed (TimeDistr  (None, 26, 10)           3010
 ibuted)

 flatten (Flatten)           (None, 260)               0

 dense_5 (Dense)             (None, 64)                16704

 dense_6 (Dense)             (None, 1)                 65

=================================================================
Total params: 28,717,479
Trainable params: 560,979
Non-trainable params: 28,156,500
_________________________________________________________________

/home/user/anaconda3/lib/python3.9/site-packages/keras/optimizers/optimizer_v2/adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [59]:
model.fit(word_seq_train, y_train, batch_size=64, epochs=20, validation_split=0.1, shuffle=True, callbacks = callbacks_list)
model.save('bilstm.h5')

Epoch 1/20
905/905 [==============================] - 278s 297ms/step - loss: 0.4614 - accuracy: 0.7790 - val_loss: 0.3079 - val_accuracy: 0.8955
Epoch 2/20
905/905 [==============================] - 288s 319ms/step - loss: 0.2804 - accuracy: 0.9014 - val_loss: 0.2836 - val_accuracy: 0.9053
Epoch 3/20
905/905 [==============================] - 268s 296ms/step - loss: 0.2443 - accuracy: 0.9125 - val_loss: 0.2216 - val_accuracy: 0.9252
Epoch 4/20
905/905 [==============================] - 303s 335ms/step - loss: 0.1792 - accuracy: 0.9444 - val_loss: 0.1767 - val_accuracy: 0.9471
Epoch 5/20
905/905 [==============================] - 283s 313ms/step - loss: 0.1548 - accuracy: 0.9515 - val_loss: 0.1659 - val_accuracy: 0.9485
Epoch 6/20
905/905 [==============================] - 283s 313ms/step - loss: 0.1417 - accuracy: 0.9548 - val_loss: 0.1602 - val_accuracy: 0.9510
Epoch 7/20
905/905 [==============================] - 283s 313ms/step - loss: 0.1290 - accuracy: 0.9572 - val_loss: 0.1689 - val_accuracy: 0.9476
Epoch 8/20
905/905 [==============================] - 283s 313ms/step - loss: 0.1156 - accuracy: 0.9611 - val_loss: 0.1683 - val_accuracy: 0.9496
Epoch 9/20
905/905 [==============================] - 283s 312ms/step - loss: 0.1029 - accuracy: 0.9643 - val_loss: 0.1715 - val_accuracy: 0.9520
Epoch 9: early stopping

In [60]:
#model = load_model('att_bilstm.h5')
y_pred_proba = model.predict(word_seq_test)
#print(y_pred_proba)
#print('---------------')

y_pred_class = np.round(y_pred_proba)
y_pred_class = y_pred_class.squeeze() #makes y_pred_class 1 dim
'''print(y_pred_class)
print(type(y_pred_class))
print(len(y_pred_class))
print(len(y_test))
print('---------------')'''

acc = accuracy_score(y_test, y_pred_class) * 100
print("Accuracy is--->", acc)

862/862 [==============================] - 51s 58ms/step
Accuracy is---> 95.00145095763204

In [61]:
#CNN1

#model parameters

num_kernels=200
stride=1
embed_dim = 300
weight_decay = 1e-4

#parallel layers 
kernel_size=7
kernel_size_p1=3
kernel_size_p2=6
kernel_size_p3=9
kernel_size_p4=12

#CNN architecture
print("training CNN ...")
model = Sequential()
model.add(Embedding(nb_words+1, embed_dim, weights=[embedding_matrix], input_length=maxi, trainable=False))
model.add(Conv1D(num_kernels, kernel_size, activation='relu', padding='same'))
model.add(MaxPooling1D(2))
model.add(Conv1D(num_kernels, kernel_size, activation='relu', padding='same'))
#model.add(GlobalMaxPooling1D())
model.add(MaxPooling1D(2))
#model.add(Dense(64, activation='relu', kernel_regularizer=regularizers.l2(weight_decay)))
model.add(GlobalMaxPooling1D())
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
#model.add(Dense(num_classes, activation='sigmoid'))  #multi-label (k-hot encoding)
model.add(Dense(1, activation='sigmoid')) 

adam = Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=1e-08, decay=0.0)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

training CNN ...

/home/user/anaconda3/lib/python3.9/site-packages/keras/optimizers/optimizer_v2/adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_3 (Embedding)     (None, 26, 300)           28156500

 conv1d (Conv1D)             (None, 26, 200)           420200

 max_pooling1d (MaxPooling1D  (None, 13, 200)          0
 )

 conv1d_1 (Conv1D)           (None, 13, 200)           280200

 max_pooling1d_1 (MaxPooling  (None, 6, 200)           0
 1D)

 global_max_pooling1d (Globa  (None, 200)              0
 lMaxPooling1D)

 dropout (Dropout)           (None, 200)               0

 dense_7 (Dense)             (None, 128)               25728

 dense_8 (Dense)             (None, 64)                8256

 dense_9 (Dense)             (None, 1)                 65

=================================================================
Total params: 28,890,949
Trainable params: 734,449
Non-trainable params: 28,156,500
_________________________________________________________________

In [63]:
model.fit(word_seq_train, y_train, batch_size=64, epochs=20, validation_split=0.1, shuffle=True, callbacks = callbacks_list)
model.save('cnn1.h5')

Epoch 1/20
905/905 [==============================] - 100s 110ms/step - loss: 0.2504 - accuracy: 0.9029 - val_loss: 0.3498 - val_accuracy: 0.8632
Epoch 2/20
905/905 [==============================] - 99s 110ms/step - loss: 0.2349 - accuracy: 0.9093 - val_loss: 0.3661 - val_accuracy: 0.8579
Epoch 3/20
905/905 [==============================] - 100s 110ms/step - loss: 0.2247 - accuracy: 0.9127 - val_loss: 0.3830 - val_accuracy: 0.8609
Epoch 4/20
905/905 [==============================] - 100s 110ms/step - loss: 0.2120 - accuracy: 0.9175 - val_loss: 0.3892 - val_accuracy: 0.8601
Epoch 5/20
905/905 [==============================] - 100s 110ms/step - loss: 0.2035 - accuracy: 0.9221 - val_loss: 0.3766 - val_accuracy: 0.8637
Epoch 5: early stopping

In [64]:
#model = load_model('cnn1.h5')
y_pred_proba = model.predict(word_seq_test)
#print(y_pred_proba)
#print('---------------')

y_pred_class = np.round(y_pred_proba)
y_pred_class = y_pred_class.squeeze() #makes y_pred_class 1 dim
'''print(y_pred_class)
print(type(y_pred_class))
print(len(y_pred_class))
print(len(y_test))
print('---------------')'''

acc = accuracy_score(y_test, y_pred_class) * 100
print("Accuracy is--->", acc)

862/862 [==============================] - 19s 21ms/step
Accuracy is---> 87.03206616366802

In [65]:
#CNN2

#num_classes = len(label_names)
num_classes = 2

inputt = Input(shape=(maxi,))
model = Embedding(nb_words+1, embed_dim, weights=[embedding_matrix],input_length=maxi,trainable = False)(inputt)
tower_1 = Conv1D(num_kernels, kernel_size_p1, padding='same', activation='relu', strides=stride)(model)
tower_2 = Conv1D(num_kernels, kernel_size_p2, padding='same', activation='relu', strides=stride)(model)
tower_3 = Conv1D(num_kernels, kernel_size_p3, padding='same', activation='relu', strides=stride)(model)
tower_4 = Conv1D(num_kernels, kernel_size_p4, padding='same', activation='relu', strides=stride)(model)
model = keras.layers.concatenate([tower_1, tower_2, tower_3, tower_4], axis=1)
model = GlobalMaxPooling1D()(model)
model = Dropout(0.5)(model)
#model = Flatten()(model)
model = Dense(128, activation='relu')(model)
model = Dense(64, activation='relu')(model)
#output = Dense(num_classes, activation='sigmoid')(model)
output = Dense(1, activation='sigmoid')(model)
model = Model(inputt, output)

#adam = optimizers.Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=1e-08, decay=0.0)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "model_2"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_3 (InputLayer)           [(None, 26)]         0           []

 embedding_4 (Embedding)        (None, 26, 300)      28156500    ['input_3[0][0]']

 conv1d_2 (Conv1D)              (None, 26, 200)      180200      ['embedding_4[0][0]']

 conv1d_3 (Conv1D)              (None, 26, 200)      360200      ['embedding_4[0][0]']

 conv1d_4 (Conv1D)              (None, 26, 200)      540200      ['embedding_4[0][0]']

 conv1d_5 (Conv1D)              (None, 26, 200)      720200      ['embedding_4[0][0]']

 concatenate (Concatenate)      (None, 104, 200)     0           ['conv1d_2[0][0]',
                                                                  'conv1d_3[0][0]',
                                                                  'conv1d_4[0][0]',
                                                                  'conv1d_5[0][0]']

 global_max_pooling1d_1 (Global  (None, 200)         0           ['concatenate[0][0]']
 MaxPooling1D)

 dropout_1 (Dropout)            (None, 200)          0           ['global_max_pooling1d_1[0][0]']

 dense_10 (Dense)               (None, 128)          25728       ['dropout_1[0][0]']

 dense_11 (Dense)               (None, 64)           8256        ['dense_10[0][0]']

 dense_12 (Dense)               (None, 1)            65          ['dense_11[0][0]']

==================================================================================================
Total params: 29,991,349
Trainable params: 1,834,849
Non-trainable params: 28,156,500
__________________________________________________________________________________________________

In [66]:
model.fit(word_seq_train, y_train, batch_size=64, epochs=20, validation_split=0.1, shuffle=True, callbacks = callbacks_list)
model.save('cnn2.h5')

Epoch 1/20
905/905 [==============================] - 224s 243ms/step - loss: 0.6177 - accuracy: 0.6522 - val_loss: 0.5586 - val_accuracy: 0.7022
Epoch 2/20
905/905 [==============================] - 237s 262ms/step - loss: 0.5506 - accuracy: 0.7109 - val_loss: 0.5058 - val_accuracy: 0.7502
Epoch 3/20
905/905 [==============================] - 259s 286ms/step - loss: 0.5097 - accuracy: 0.7438 - val_loss: 0.4788 - val_accuracy: 0.7690
Epoch 4/20
905/905 [==============================] - 269s 297ms/step - loss: 0.4819 - accuracy: 0.7689 - val_loss: 0.4628 - val_accuracy: 0.7870
Epoch 5/20
905/905 [==============================] - 224s 247ms/step - loss: 0.4612 - accuracy: 0.7830 - val_loss: 0.4460 - val_accuracy: 0.7884
Epoch 6/20
905/905 [==============================] - 232s 256ms/step - loss: 0.4464 - accuracy: 0.7924 - val_loss: 0.4279 - val_accuracy: 0.8090
Epoch 7/20
905/905 [==============================] - 230s 254ms/step - loss: 0.4326 - accuracy: 0.8031 - val_loss: 0.4113 - val_accuracy: 0.8150
Epoch 8/20
905/905 [==============================] - 233s 257ms/step - loss: 0.4219 - accuracy: 0.8102 - val_loss: 0.4136 - val_accuracy: 0.8104
Epoch 9/20
905/905 [==============================] - 234s 258ms/step - loss: 0.4161 - accuracy: 0.8130 - val_loss: 0.4047 - val_accuracy: 0.8175
Epoch 10/20
905/905 [==============================] - 228s 252ms/step - loss: 0.4050 - accuracy: 0.8192 - val_loss: 0.4167 - val_accuracy: 0.8178
Epoch 11/20
905/905 [==============================] - 232s 256ms/step - loss: 0.3980 - accuracy: 0.8240 - val_loss: 0.4052 - val_accuracy: 0.8122
Epoch 11: early stopping

In [67]:
#model = load_model('cnn2.h5')
y_pred_proba = model.predict(word_seq_test)
#print(y_pred_proba)
#print('---------------')

y_pred_class = np.round(y_pred_proba)
y_pred_class = y_pred_class.squeeze() #makes y_pred_class 1 dim
'''print(y_pred_class)
print(type(y_pred_class))
print(len(y_pred_class))
print(len(y_test))
print('---------------')'''

acc = accuracy_score(y_test, y_pred_class) * 100
print("Accuracy is--->", acc)

862/862 [==============================] - 49s 54ms/step
Accuracy is---> 81.95371445153802